/*** RESET ***/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
    font-size: 1rem;
    font-family: var(--ff--Figtree);
    font-weight: var(--fw--600);
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/*** main css ***/

:root {
    --clr--Yellow: hsl(47, 88%, 63%);
    --clr--White: hsl(0, 0%, 100%);
    --clr--Grey: hsl(0, 0%, 50%);
    --clr--Black: hsl(0, 0%, 7%);
    --ff--Figtree: 'Figtree', sans-serif;
    --fw--600: 600;
    --fw--800: 800;
}

.container {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--clr--Yellow);
    padding: 9.6em 1.6em 9.8em 1.5em;
}

.main {
    max-width: 384px;
    margin: 0 auto;
    padding: 1.4em;
    padding-bottom: 1.4em;
    border: 1px solid var(--clr--Black);
    background-color: var(--clr--White);
    border-radius: 20px;
    box-shadow: 8px 8px 0;
}

.illustration {
    width: 100%;
    height: 201px;
    background: url("./assets/images/illustration-article.svg");
    background-size: cover;
    border-radius: 10px;
    background-position-x: -30px;
    margin-bottom: 1.5em;
}

p.learning {
    padding: 0.4em 1em;
    font-size: 0.8rem;
    font-weight: var(--fw--800);
    display: inline-block;
    background-color: var(--clr--Yellow);
    border-radius: 5px;
    margin-bottom: 1.15em;
    color: var(--clr--Black);
}

p.published {
    font-size: 0.75rem;
    margin-bottom: 1.3em;
    color: var(--clr--Black);

}

.main h1 a {
    font-size: 1.3rem;
    font-weight: var(--fw--800);
    text-decoration: none;
    color: var(--clr--Black);
}

.main h1 a:hover,
.main h1 a:focus {
    color: var(--clr--Yellow);
    cursor: pointer;
}

p.text {
    font-size: 0.85rem;
    color: var(--clr--Grey);
    line-height: 1.5;
    margin-top: 1.15em;
    margin-bottom: 1.9em;
}

.main__author h3 {
    font-size: .85em;
    font-weight: var(--fw--800);
}

.main__author {
    display: flex;
    align-items: center;
}

.main__author img {
    width: 32px;
    margin-right: 0.8em;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 460px) {

    .container {
        height: 100vh;
        display: grid;
        place-items: center;
        padding: 13.6em 2em 21.5em 1.5em;
    }

    .main {
        max-width: 384px;
        padding-top: 1.4em;
    }

    .illustration {
        height: 201px;
        background-position-x: 0px;
    }

    p.learning {
        font-size: .9rem;
        margin-bottom: 0.9em;
    }

    p.published {
        font-size: 0.88rem;
    }

    .main h1 a {
        font-size: 1.5rem;
    }

    p.text {
        font-size: 1rem;
        margin-top: 1em;
        margin-bottom: 1.4em;
    }
}